<section class="max-container">
	<h3 class="text-center font-[palanquin] text-4xl font-bold">
		What Our
		<span class="text-red-400"> Customers </span>
		Say?
	</h3>
	<p class="m-auto mt-4 max-w-lg text-center info-text">
		Hear genuine stories from our satisfied customers about their exceptional
		experiences with us.
	</p>
	<div
		class="mt-24 flex flex-1 items-center justify-evenly gap-14 max-lg:flex-col"
	>
		@for (review of reviews; track review.customerName) {
			<app-review-card
				[imgURL]="review.imgURL"
				[customerName]="review.customerName"
				[rating]="review.rating"
				[feedback]="review.feedback"
			></app-review-card>
		}
	</div>
</section>
