{
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "bracketSpacing": true,
  "objectWrap": "preserve",
  "bracketSameLine:": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/styles.css"
}
