<section
	class="max-container flex items-center justify-between gap-10 max-lg:flex-col"
	id="contact-us"
>
	<h3 class="font-[palanquin] text-4xl leading-[68px] font-bold lg:max-w-md">
		Sign Up for
		<span class="text-red-400"> Updates </span> & Newsletter
	</h3>
	<div class="flex w-full items-center max-sm:flex-col lg:max-w-[%40] gap-5 p-2.5 sm:border sm:border-gray-400 rounded-full">
		<input type="text" placeholder="subscribe@nike.com" class="input" />
		<div class="flex items-center max-sm:w-full max-sm:justify-end">
			<app-button label="Sign Up"/>
		</div>
	</div>
</section>
