<section
	id="about-us"
	class="max-container flex w-full items-center justify-between gap-10 max-lg:flex-col"
>
	<div class="flex flex-1 flex-col">
		<h2
			class="mt-10 font-[palanquin] text-4xl font-bold capitalize lg:max-w-lg"
		>
			We Provide You
			<span class="text-red-400">Super</span>
			<span class="text-red-400"> Quality</span>
			Shoes
		</h2>
		<p class="mt-4 mb-4 info-text lg:max-w-lg">
			Ensuring premium comfort and style, our meticulously crafted footwear is
			designed to elevate your epxerience, providing you with umatched quality,
			innovation, and a touch of elegance
		</p>
		<p class="info-text lg:max-w-lg">
			Our dedication to detail and excellence ensures your satisfaction
		</p>

		<div class="mt-10">
			<app-button label="View Details" />
		</div>
	</div>

	<div class="flex flex-1 items-center justify-center">
		<img src="images/shoe8.svg" alt="Quality Shoes" width="570" heigth="520" class="object-contain"/>
	</div>
</section>
