<section class="max-container flex items-center gap-10 max-xl:flex-col-reverse">
	<div class="flex-1">
		<img
			src="images/offer.svg"
			width="773"
			height="687"
			class="w-full object-contain"
		/>
	</div>

	<div class="flex flex-1 flex-col">
		<h2
			class="mt-10 font-[palanquin] text-4xl font-bold capitalize lg:max-w-lg"
		>
			<span class="text-red-400">Special</span> Offer
		</h2>
		<p class="mt-4 mb-4 info-text lg:max-w-lg">
			Embark on a shopping journey that redefines your experience with
			unbeatable deals. From premier selections to incredible savings, we offer
			unparalleled value that sets us apart
		</p>
		<p class="info-text lg:max-w-lg">
			Navigate a realm of possibilities designed to fulfill your unique desires,
			surpassing the loftiest expectations. Your journey with us is nothing
			short of exceptional.
		</p>

		<div class="mt-10 flex flex-wrap gap-4">
			<app-button label="Shop Now" icon="icons/arrow-right.svg" />
			<app-button
				label="Learn more"
				backgroundColor="bg-white"
				textColor="text-slate-400"
				borderColor="border-slate-400"
			/>
		</div>
	</div>
</section>
