<h1 class="bg-sky-700 px-4 py-2 text-white hover:bg-sky-800 sm:px-8 sm:py-3">
	Hello world!
</h1>

<div class="relative">
	Nav
	<section class="xl:padding-l wide:padding-r padding-b">Hero</section>

	<section class="padding">PopularProducts</section>
	<section class="padding">SuperQuality</section>
	<section class="padding-x py-10">Services</section>
	<section class="padding">SpecialOffer</section>
	<section class="padding bg-blue-50">CustomerReviews</section>
	<section class="padding-x w-full py-16 sm:py-32">Subscribe</section>
	<section class="padding-x padding-t bg-black pb-8">Footer</section>
</div>

<router-outlet />
