<div class="relative">
	<app-nav />
	<section class="wide:padding-r padding-b xl:padding-l">
		<app-hero />
	</section>
	<section class="padding">
		<app-popular-products />
	</section>
	<section class="padding">
		<app-super-quality />
	</section>
	<section class="padding-x py-10">
		<app-services />
	</section>
	<section class="padding">
		<app-special-offer />
	</section>
	<section class="bg-blue-50 padding">
		<app-customer-reviews />
	</section>
	<section class="w-full padding-x py-16 sm:py-32">
		<app-subscribe />
	</section>
	<section class="bg-black padding-x padding-t pb-8">
		<app-footer />
	</section>
</div>

<router-outlet />
